<section class="card">
  <header>
    <div><h2>Title: {{title}}</h2></div>
    <!--div>{{username}}</div-->
    <div><h3>{{creation_date}}</h3></div>
  </header>
  <p>Contents: {{contents}}</p>
</section>
