<ol class="post-list">
    <div class="row">
        {{#each blogs as |blog|}}
        <div class="col w-100">
            <ul>
                {{> blog-headers blog}}
            </ul>
        </div>
        {{/each}}
    </div>
</ol>